<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="43326"
    android:versionName="4.33.26"
    android:compileSdkVersion="29"
    android:compileSdkVersionCodename="10"
    package="com.SleepIfUCan.app"
    platformBuildVersionCode="29"
    platformBuildVersionName="10">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="29" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    
    <application
        android:theme="@ref/0x7f140007"
        android:label="@ref/0x7f13009a"
        android:icon="@ref/0x7f0f0000"
        android:name="com.sleepIfUCan.app"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true">

 
